/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #777;
}

/* Headings */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

/* Navigation Bar */

.nav-bar {
    display: flex;
    list-style: none;
}

.nav-bar > li {
    align-self: center;
    padding: 10px 15px;
}

.nav-bar a:hover,
.nav-bar a.active {
    color: #000;
}

.push {
    margin-left: auto;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}