/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #777;
}

/* Headings and Logo */

h1, h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 3px;
}

/* Navigation Bar */

#nav-bar {
    font-size: 105%;
    letter-spacing: 1px;
}

#nav-bar ul {
    float: right;
}

#nav-bar li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    line-height: 75px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover,
#nav-bar a.active {
    color: #000;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat center center;
}